<form [formGroup]='form'>
    <div formArrayName="superDeals" *ngFor="let superDeal of superDeals; let i = index;">
        <table>
            <div [formGroupName]='i'>
                <tr>
                    <td>
                        <label>Start date: </label>
                    </td>
                    <td>
                        <input formControlName="startDate" type='date' required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>End date: </label>
                      </td>
                      <td>
                        <input formControlName="endDate" type='date' required>
                      </td>
                </tr>
                <tr>
                    <td>
                        <label>Price: </label>
                      </td>
                      <td>
                        <input formControlName="discountedPrice" required>
                      </td>
                </tr>
                <tr>
                    <td>
                        <label>Capacity: </label>
                      </td>
                      <td>
                        <input formControlName="capacity" required>
                      </td>
                </tr>

                <tr>
                  <td>
                    <button (click)='removeSuperDeal(i)'>Remove super deal</button>
                  </td>
                </tr>
              </div>  
        </table>
    </div>
    <button type="button" (click)="addSuperDeal()">Add super deal</button>
</form>