<h2>{{title}}</h2>

<p *ngIf="notification" id='error' [class]="notification.msgType">{{notification.msgBody}}</p>

<form class="log-in-form" #loginForm="ngForm" (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">

        <label for="username">Username:</label>
        <input id="username" formControlName="username" placeholder="username" required>

        <label for="password">Password:</label>
        <input id="password" formControlName="password" placeholder="password" required type="password">

        <button id="#log-in-button" [disabled]="!loginForm.form.valid" color="primary"
                type="submit">Login</button>

        <button color="primary" routerLink="/" >Go Back</button>
    </form>
<br>
<br>
<hr>

