<form [formGroup]='form'>
    <div formArrayName="fishs" *ngFor="let fish of fishs; let i = index;">
        <table>
            <div [formGroupName]='i'>
                <tr>
                  <td>
                    <label>Oprema: </label>
                  </td>
                  <td>
                    <input formControlName="name" required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button (click)='removeFish(i)'>Obriši opremu</button>
                  </td>
                </tr>
              </div>  
        </table>
    </div>
    <button type="button" (click)="addFish()">Dodaj opremu</button>
</form>