<p>add-cottage works!</p>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
    <table>
        <tr>
          <td>
            <label>Name: </label>
          </td>
          <td>
            <input formControlName="name" required>
          </td>
        </tr>
        <tr>
            <td colspan="2" id='address'>Address</td>
        </tr>
    <div formGroupName="address">
        <tr>
          <td>
            <label>Country: </label>
          </td>
          <td>
            <input formControlName="country">
          </td>
        </tr>
        <tr>
          <td>
            <label>City: </label>
          </td>
          <td>
            <input formControlName="city">
          </td>
        </tr>
        <tr>
          <td>
            <label>Street: </label>
          </td>
          <td>
            <input formControlName="street">
          </td>
        </tr>
        <tr>
          <td>
            <label>Number: </label>
          </td>
          <td>
            <input formControlName="number">
          </td>
        </tr>
      </div>
      <tr>
        <td>
          <label>Description: </label>
        </td>
        <td>
          <input formControlName="description">
        </td>
      </tr>
      <tr>
        <td>
          <label>Rent: </label>
        </td>
        <td>
          <input formControlName="pricePerDay" required>
        </td>
      </tr>
      </table>
    
      <app-edit-rooms [rooms]='cottage.rooms'></app-edit-rooms>
      <app-edit-rules [rules]='cottage.rules'></app-edit-rules>

    <button color="primary" (click)='cancelChanges()'>Cancel</button>
    <button color="primary" type="submit" (onSubmit)="onSubmit()">Submit</button>
</form>