<form *ngIf='showForm' (ngSubmit)="onSubmit()" class='add-cottage-form' [formGroup]="form">

  <label>Name: </label>
  <input formControlName="name" required>

  <div class="info-block" formGroupName="address">
    <p id='title'>Address: </p>
    <label>Country: </label>
    <input formControlName="country">
    <label>City: </label>
    <input formControlName="city">
    <label>Street: </label>
    <input formControlName="street">
    <label>Number: </label>
    <input formControlName="number">
  </div>

  <label>Description: </label>
  <input formControlName="description">

  <label>Rent: </label>
  <input formControlName="pricePerDay" required>

  <div class='info-block' formGroupName='availabilityPeriod'>
    <label>Availabilty Period: </label>
    <input formControlName='startDate' type='date' required>
    <input formControlName='endDate' type='date'>
  </div>

  <div class="info-block">
    <h2>Rooms</h2>
    <app-edit-rooms [rooms]='cottage.rooms'></app-edit-rooms>
  </div>

  <div class="info-block">
    <h2>Kućni red</h2>
    <app-edit-rules [rules]='cottage.rules'></app-edit-rules>
  </div>

  <div class="info-block">
    <h2>Opcije</h2>
    <app-edit-options [options]='cottage.cottageOptions'></app-edit-options>
  </div>

  <div class="info-block">
    <h2>Brze rezervacije</h2>
    <app-edit-super-deal [superDeals]='cottage.cottageSuperDeals'></app-edit-super-deal>
  </div>
  
  <button color="primary" (click)='cancelChanges()'>Cancel</button>
  <button color="primary" type="submit" (onSubmit)="onSubmit()">Submit</button>
</form>