.header{
    border: 2px solid black;
    margin: 0px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 75px;
    margin: 2px;
}

.buttons{
    margin-right: 15px;
}

p{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 20px;
    margin: 0px;
}


  .wrapper{
  /* width: 100px; */
  }
  .wrapper ul{
  list-style: none;
  }
  .wrapper ul li {
  background: black;
  width: 80px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: right;
  margin-right: 20px;
  color: #fff;
  font-size: 15px;
  position: relative;
  font-weight: bold;
  }
  .wrapper ul li:hover{
  background: grey;
  }

  .wrapper ul ul{
  display: none;
  }
  .wrapper ul li:hover > ul{
  display: block;
  }
