<!-- <p>edit-image works!</p>
<form [formGroup]='form'>
    <div formArrayName="images" *ngFor="let image of images; let i = index;">
        <table>
            <div [formGroupName]='i'>
                <tr>
                  <td>
                    <label>Oprema: </label>
                  </td>
                  <td>
                    <input formControlName="file" type='file' required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <button (click)='removeImage(i)'>Obriši sliku</button>
                  </td>
                </tr>
              </div>  
        </table>
    </div>
    <button type="button" (click)="addImage()">Dodaj sliku</button>
</form> -->