<form [formGroup]='form'>
    <div formArrayName="periods" *ngFor="let period of periods; let i = index;">
        <table>
            <div [formGroupName]='i'>
                <tr>
                  <td>
                    <label>Od: </label>
                  </td>
                  <td>
                    <input formControlName="startDate" required type="date">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label>Do: </label>
                  </td>
                  <td>
                    <input formControlName="endDate" type="date">
                  </td>
                </tr>
                <tr>
                  <td>
                    <button (click)='removePeriod(i)'>Ukloni period</button>
                  </td>
                </tr>
              </div>  
        </table>
    </div>
    <button type="button" (click)="addPeriod()">Dodaj period</button>
</form>