<section class='deleteaccount'>
  
    <p>{{deleteaccount.id}}</p>>

    <h3>{{deleteaccount.account.name+  "  "   +deleteaccount.account.username}}</h3>
    <p> Adress: {{deleteaccount.account.address.country}}
                {{deleteaccount.account.address.city}}
                {{deleteaccount.account.address.street}}
                {{deleteaccount.account.address.number}}
    </p>
    <p>{{deleteaccount.description}}</p>


     <p align="right">
        <button  (click) = "verify(deleteaccount.id)">odobri zahtev</button>
        <button  (click) = "delete(deleteaccount.id)">odbij zahtev</button>
        
        


  </p>


  </section>
  
