<section class="ship-all-info" *ngIf="shipIsPresent">
    <section class="ship-info info-block">
        <h2>{{ship.name}}</h2>
        <p>{{ship.address.country}}, {{ship.address.city}}, {{ship.address.street}}, {{ship.address.number}}</p>
        <p>Opis: {{ship.description}}</p>
        <p>Tip: {{ship.type}}</p>
        <p>Dužina: {{ship.length}}</p>
        <p>Broj motora: {{ship.engineNumber}}</p>
        <p>Snaga motora: {{ship.enginePower}}</p>
        <p>Maksimalna brzina: {{ship.maxSpeed}}</p>
        <p>Navigaciona oprema: {{navigationToString()}}</p>
        <p>Kapacitet: {{ship.capacity}}</p>
        <p>Cena: {{ship.rentPrice}} evra</p>
        <p>Pravila ponašanja: {{rulesToString()}}</p>
        <p>Pecaroška oprema: {{fishingToString()}}</p>
        <p>Uslovi otkaza: Vlasnik zadržava {{ship.cancelRate}}% početne cene</p>
        <p>Period dostupnosti: {{ship.availabilityPeriod.startDate}} - {{ship.availabilityPeriod.endDate}}</p>
        <button [routerLink]="['', 'edit_ship']" [queryParams]="{ id: ship.id }" *ngIf="ownership">Izmeni</button>
    </section>

    <app-calendar [superDeals]="ship.shipSuperDeals" [availabilityPeriod]="ship.availabilityPeriod">

    </app-calendar>

    <section class="super-deals info-block">
        <div class="deal-head">
            <h2>Brze rezervacije</h2>
            <button *ngIf="ownership" (click)="openAddSupeDealDialog()">Napravi</button>
        </div>

        <p *ngIf="showConflictMessageSuperDeal">Neko je rezervisao u međuvremenu!</p>
        <div class=super-deal *ngFor="let superDeal of ship.shipSuperDeals">
            <p>Оd: {{formatDate(superDeal.startDate)}}</p>
            <p>Do: {{formatDate(superDeal.endDate)}}</p>
            <p>Cena: {{superDeal.discountedPrice}} evra</p>
            <p>Broj osoba: {{superDeal.capacity}}</p>
            <div *ngFor="let option of superDeal.options">
                {{option.name}} --- {{option.description}} --- {{option.price}}
            </div>
            <div class="buttons" *ngIf="ownership">
                <button>Izbriši</button>
                <button (click)="makeSuperDealReservation($event)" [id]="superDeal.id">make reservation</button>
            </div>
        </div>
    </section>

    <section class="info-block">
        <h2>Dodatne usluge</h2>
        <div class="option" *ngFor="let option of ship.shipOptions">
            {{option.name}} --- {{option.description}} --- {{option.price}}
        </div>
    </section>

    <div class="ship-images info-block">
        <h2>Slike</h2>
        <div class="images" *ngFor="let image of ship?.shipImages">
          <img [src]='"data:image/jpeg;base64," + image.image'>
          <button [id]=image.id (click)="deleteImage($event)" *ngIf="ownership">Izbriši</button>
        </div>
        <app-edit-image *ngIf="ownership"></app-edit-image>
      </div>

      <section class="info-block">
        <form [formGroup]='form' *ngIf="showForm">
          <app-date-range></app-date-range>
          <table>
              
              <tr>
                <td>
                  <label>Kapacitet: </label>
                </td>
                <td>
                  <input formControlName="capacity" required>
                </td>
              </tr>
        
              <section>
                <p>Dodatne usluge: </p>
                <div class="example-section" *ngFor="let option of ship.shipOptions">
                  <mat-checkbox class="example-margin"
                      (change)="onChangeEventFunc(option.id, $event)">
                  {{ option.name }}
                  </mat-checkbox>
                </div>
              </section>
        
              
          </table>
          <p *ngIf="showConflictMessage">Neko je rezervisao u međuvremenu!</p>
          <button type="button" (click)="makeReservation()">Potvrdi</button>
        </form>
      </section>

</section>