<h3>Sort by:</h3>
<div class="sort" style="display:flex; flex-direction: row; justify-content: center; align-items: left">
  <input type="radio" id="name" name="sortType" value="NAME" (click)="sortByName()">
  <label for="name">name</label><br>
  <input type="radio" id="price" name="sortType" value="PRICE" (click)="sortByPrice()">
  <label for="price">price</label><br>
  <input type="radio" id="rating" name="sortType" (click)="sortByRating()" value="RATING">
  <label for="rating">rating</label>
  <input type="radio" id="capacity" name="sortType" (click)="sortByCapacity()" value="CAPACITY">
  <label for="capacity">capacity</label>
</div>
<section class='ships'>
  <app-ship  *ngFor="let ship of ships"
  [ship]="ship">

   </app-ship>
</section>
