<form class="search" *ngIf="notClientSubscriptions()" (ngSubmit)="onSearch()" [formGroup]="searchForm">
  <label>Period: </label>
  <input type="date" formControlName="startDate">
  <label>---</label>
  <input type="date" formControlName="endDate">
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Location</mat-label>
    <mat-select name="food" formControlName="locationCity">
      <mat-option *ngFor="let location of cottageLocations" [value]="location">
        {{location}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Grade</mat-label>
    <mat-select name="food" formControlName="minGrade">
      <mat-option *ngFor="let grade of grades" [value]="grade">
        {{grade}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <!-- <label type="number" for="minCapacity">Capacity: </label>
  <input id="minCapacity" formControlName="minCapacity">
  <br> -->
  <button color="primary" type="submit">Search</button>
</form>

<!-- <form *ngIf='notClientSubscriptions()' (ngSubmit)="onSearch()" class='add-ship-form' [formGroup]="form">
  <input formControlName='dateInput' type='date'>
  <button color="primary" type="submit" (onSubmit)="onSearch()" [disabled]="!form.valid">Submit</button>
</form> -->

<h3 *ngIf="notClientSubscriptions()">Sort by:</h3>
<div class="sort" *ngIf="notClientSubscriptions()" style="display:flex; flex-direction: row; justify-content: center; align-items: left">
  <form [formGroup]="sortByGroup">
    <input type="radio" formControlName="sortByRadio" value="name" (change)="getSorted()">
    <label for="name">name</label><br>
    <input type="radio" formControlName="sortByRadio" value="pricePerDay" (change)="getSorted()">
    <label for="price">price</label><br>
    <input type="radio" formControlName="sortByRadio" value="averageMark" (change)="getSorted()">
    <label for="rating">rating</label>
  </form>
  <form [formGroup]="orderGroup">
    <input type="radio" formControlName="orderRadio" value="ASC" (change)="getSorted()">
    <label for="name">ascending</label><br>
    <input type="radio" formControlName="orderRadio" value="DESC" (change)="getSorted()">
    <label for="price">descending</label><br>
  </form>
</div>
<section class='cottages'>
   <app-cottage [forClientSubscriptions] = "forClientSubscriptions" *ngFor="let cottage of cottages"
   [cottage]="cottage">
    </app-cottage>

</section>

