<section class='reviews'>

    <!--<h3>{{review.id}}</h3>
    -->
<div>
     <p>Client username:{{review.username}}</p>
     <p>entity type:{{review.type}}</p>
     <p>review grade:{{review.grade}}</p>
     <p>review comment:{{review.comment}}</p>
     <p>Id of the entity:{{review.reviewEntityId}}</p>
     <p>is review for the owner:{{review.forOwner}}</p>
     <button (click)="approve(review.id)" > approve </button>
     <button (click)="delete(review.id)"> delete </button>
</div> 
     
  
    <!--<p>Adress:{{adresa}}, {{request.address.city}}, {{request.address.street}} </p> --> 
  
  

  