:host::ng-deep.not-available-date {
    background: rgba(0, 0, 0, 0.6);
    border-radius: 100%;
}

:host::ng-deep.deal-date {
    background: rgba(0, 0, 255, 0.6);
    border-radius: 100%;
}

:host::ng-deep.reserved-date {
    background: rgba(255, 0, 0, 0.6);
    border-radius: 100%;
}


.inline-calendar-card {
    width: 300px;
}

.legend{
    display: flex;
    justify-content: space-between;
}

.reserved {
    background-color: rgba(255, 0, 0, 0.6);
    width: 10px;
    height: 10px;
}

.not-available {
    background-color: rgba(0, 0, 0, 0.6);
    width: 10px;
    height: 10px;
}

.deal {
    background-color: rgba(0, 0, 255, 0.6);
    width: 10px;
    height: 10px;
}