<mat-spinner *ngIf="!showForm"></mat-spinner>
<form [formGroup]='form' *ngIf="showForm">
  <table>
      <tr>
        <td>
          <label>Od: </label>
        </td>
        <td>
          <input formControlName="startDate" type='date' required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Do: </label>
        </td>
        <td>
          <input formControlName="endDate" type='date' required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Cena: </label>
        </td>
        <td>
          <input formControlName="discountedPrice" required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Kapacitet: </label>
        </td>
        <td>
          <input formControlName="capacity" required>
        </td>
      </tr>

      <section>
        <p>Dodatne usluge: </p>
        <div class="example-section" *ngFor="let option of options">
          <mat-checkbox class="example-margin"
              (change)="onChangeEventFunc(option.id, $event)">
          {{ option.name }}
          </mat-checkbox>
        </div>
      </section>

      
  </table>
  <button type="button" (click)="submit()">Potvrdi</button>
</form>