<mat-spinner *ngIf="!showForm"></mat-spinner>
<form [formGroup]='form' *ngIf="showForm">
  <app-date-range></app-date-range>
  <table>
      <tr>
        <td>
          <label>Cena: </label>
        </td>
        <td>
          <input formControlName="price" required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Kapacitet: </label>
        </td>
        <td>
          <input formControlName="capacity" required>
        </td>
      </tr>

      <section>
        <p>Dodatne usluge: </p>
        <div class="example-section" *ngFor="let option of options">
          <mat-checkbox class="example-margin"
              (change)="onChangeEventFunc(option.id, $event)">
          {{ option.name }}
          </mat-checkbox>
        </div>
      </section>

      
  </table>
  <p *ngIf="showConflictMessage">Neko je rezervisao u međuvremenu!</p>
  <button type="button" (click)="submit()">Potvrdi</button>
</form>