<section class='reservations'>
    <h3>{{adventureReservation.adventureDTO.name}}</h3>
    <p>description: {{adventureReservation.adventureDTO.description}}</p>
    <p>period: {{adventureReservation.startDate}} {{adventureReservation.endDate}}</p>
    <p>capacity: {{adventureReservation.capacity}}</p>
    <p>price:
      {{adventureReservation.price}}</p>
    <p align="right">
      <button (click)="cancelReservation()" *ngIf="canCancel()">cancel reservation</button>
      <button [routerLink]="['', 'insturctor-complaint', this.adventureReservation.adventureDTO.id]" *ngIf="forStarted">write complaint</button>
    </p>
  </section>
  