/* You can add global styles to this file, and also import other style files */
/* @import "../node_modules/angular-calendar/css/angular-calendar.css"; */




body{
    margin: 20px;
    margin-top: 0px;
}

button{
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: black solid 3px;
    margin: 5px;
}

button:hover{
    cursor: pointer;
    background-color: rgb(146, 146, 146);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.special-date {
    background-color: orange;
    border-radius: 100%;
  }