<form [formGroup]='form'>
  <table>
      <tr>
        <td>
          <label>Od: </label>
        </td>
        <td>
          <input formControlName="startDate" type='date' required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Do: </label>
        </td>
        <td>
          <input formControlName="endDate" type='date' required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Cena: </label>
        </td>
        <td>
          <input formControlName="discountedPrice" required>
        </td>
      </tr>
      <tr>
        <td>
          <label>Kapacitet: </label>
        </td>
        <td>
          <input formControlName="capacity" required>
        </td>
      </tr>
      
  </table>
  <button type="button" (click)="submit()">Potvrdi</button>
</form>