<p>edit-cottage-options works!</p>
<form [formGroup]='form'>
    <div formArrayName="options" *ngFor="let option of options; let i = index;">
        <table>
            <div [formGroupName]='i'>
                <tr>
                  <td>
                    <label>Name: </label>
                  </td>
                  <td>
                    <input formControlName="name" required>
                  </td>
                  <td>
                    <label>Description: </label>
                  </td>
                  <td>
                    <input formControlName="description" required>
                  </td>
                  <td>
                    <label>Price: </label>
                  </td>
                  <td>
                    <input formControlName="price" required>
                  </td>
                <tr>
                  <td>
                    <button (click)='removeOption(i)'>Remove option</button>
                  </td>
                </tr>
              </div>  
        </table>
    </div>
    <button type="button" (click)="addOption()">Add option</button>
</form>