<section class='entities'>
  <app-entity *ngFor='let entity of mainEntities' [name]='entity[0]' [path]='entity[1]' [route]='entity[2]'>
  </app-entity>
</section>

<h2>Rezervacije: </h2>
<section>
  <app-entity *ngFor='let entity of historyEntities' [name]='entity[0]' [path]='entity[1]' [route]='entity[2]'>
  </app-entity>
  <h2>Subscptions: </h2>
  <app-cottages [forClientSubscriptions]=true></app-cottages>
  <app-ships [forClientSubscriptions]=true></app-ships>
  <app-fishing-instructors [forClientSubscriptions]=true></app-fishing-instructors>
</section>