.profile{
  margin: auto;
  margin-top: 50px;
	border: 3px solid grey;
  font-size: medium;
  border-collapse: separate;
  border-spacing: 50px 0;
}
th, td {
  width: 150px;
  text-align: center;
  padding: 5px;
}
.img1{
  height: 120px;      
  width: 120px;
}