<table class="profile">
  <tr>
    <th>Name:</th>
    <th>{{account?.name}}</th>
  </tr>
  <tr>
    <th>Last name:</th>
    <th>{{account?.lastName}}</th>
  </tr>
  <tr>
    <th>Username:</th>
    <th>{{account?.username}}</th>
  </tr>
  <tr>
    <th>Profile category:</th>
    <th>{{account?.role}}</th>
  </tr>
  <tr>
  <tr>
    <th>Email:</th>
    <th>{{account?.email}}</th>
  </tr>
  <tr>
    <th>Country:</th>
    <th>{{account?.address?.country}}</th>
  </tr>
  <tr>
    <th>City:</th>
    <th>{{account?.address?.city}}</th>
  </tr>
  <tr>
    <th>Address:</th>
    <th>{{account?.address?.street}}</th>
    <th>{{account?.address?.number}}</th>
  </tr>
</table>
