<form (ngSubmit)="onSubmit()" #contactForm="ngForm" *ngIf="!submitted">

  <table>
    <tr>
      <td>
        <label>Username: </label>
      </td>
      <td>
        <input name="username"  [(ngModel)]="account.username" required>
      </td>
    </tr>
    <tr>
    <tr>
      <td>
        <label>First Name: </label>
      </td>
      <td>
        <input type="text" name="name"  [(ngModel)]="account.name" required>
      </td>
    </tr>
    <tr>
      <td>
        <label>Last Name: </label>
      </td>
      <td>
        <input  name="lastName" [(ngModel)]="account.lastName" required>
      </td>
    </tr>
    <tr>
      <td>
        <label>Email: </label>
      </td>
      <td>
        <input name="email" [(ngModel)]="account.email" readonly>
      </td>
    </tr>
    <tr>
      <td>
        <label>Phone number: </label>
      </td>
      <td>
        <input name="phonenumber" [(ngModel)]="account.phoneNumber" required>
      </td>
    </tr>
    <tr>
      <td colspan="2" id='address'>Address</td>
    </tr>
    <div>
      <tr>
        <td>
          <label>Country: </label>
        </td>
        <td>
          <input name="country" [(ngModel)]="account.address.country">
        </td>
      </tr>
      <tr>
        <td>
          <label>City: </label>
        </td>
        <td>
          <input name="city" [(ngModel)]="account.address.city">
        </td>
      </tr>
      <tr>
        <td>
          <label>Street: </label>
        </td>
        <td>
          <input name="street" [(ngModel)]="account.address.street">
        </td>
      </tr>
      <tr>
        <td>
          <label>Number: </label>
        </td>
        <td>
          <input name="number" [(ngModel)]="account.address.number">
        </td>
      </tr>
    </div>
    <tr><td>Role: </td></tr>
  </table>

  <button color="primary" type="submit">Update</button>
  <br>
  <button color="primary" routerLink="/">Go Back</button>
