<form class="sign-up-form" (ngSubmit)="onSubmit()" #contactForm="ngForm" *ngIf="!submitted">

  <label for="username">Username: </label>
  <input id="username" name="username" [(ngModel)]="account.username" required>

  <label for="name">First Name: </label>
  <input id="name" type="text" name="name" [(ngModel)]="account.name" required>

  <label for="lastName">Last Name: </label>
  <input id="lastName" name="lastName" [(ngModel)]="account.lastName" required>

  <label for="email">Email: </label>
  <input id="email" name="email" [(ngModel)]="account.email" readonly>

  <label for="phonenumber">Phone number: </label>
  <input id="phonenumber" name="phonenumber" [(ngModel)]="account.phoneNumber" required>

  <div class="sign-up-form">
    <p>Address: </p>

    <label for="country">Country: </label>
    <input id="country" name="country" [(ngModel)]="account.address.country">

    <label>City: </label>
    <input name="city" [(ngModel)]="account.address.city">

    <label>Street: </label>
    <input name="street" [(ngModel)]="account.address.street">

    <label>Number: </label>
    <input name="number" [(ngModel)]="account.address.number">
  </div>

  <button color="primary" type="submit">Update</button>
  <button color="primary" routerLink="/">Go Back</button>
</form>

<form class="delete-account-form" (ngSubmit)="onDelete()" [formGroup]="formDelete">
  <h2>Brisanje naloga</h2>
  <label>Poruka: </label>
  <textarea formControlName="description"></textarea>
  <p *ngIf="requestSent">Zahtev uspesno poslat</p>
  <button color="primary" type="submit">Pošalji zahtev</button>
</form>