#title {
  font-weight: bold;
  font-style: italic;
  padding-top: 8px;
}

h2 {
  text-align: center;
}

.sign-up-form {
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid black;
  padding: 2rem;
}

.delete-account-form{
  max-width: 500px;
  margin: 2rem auto;
  border: 2px solid black;
  padding: 2rem;
}

textarea{
  width: 100%;
}

label,
input {
  width: 100%;
  display: block;
}

label {
  padding: 8px;
}

button {
  display: inline;
  margin-top: 15px;
}